*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-image: url(./premium_photo-1673292293042-cafd9c8a3ab3.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}